@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

h1 {
    color: $main-text;
}

nav{
    background-color: $main-bg;

    #navbar a{
        color: $secondary-bg;
        font-weight: bold;
    }
}

.hero{
    img{
        width: 100%; 
    }
}
