@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

@import './components/_home.scss';
@import './components/_footer.scss';
@import './components/_register.scss';
@import './components/_login.scss';

@import './travels.scss';

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    color: $main-text;
}

nav{
    background-color: $main-bg;

    #navbar a{
        color: $secondary-bg;
        font-weight: bold;
    }
}

