.btn-register{
    background-color: $detail;
    color: $secondary-text;
    padding: 8px 12px;
    border: 2px solid $secondary-bg;
    border-radius: 30px;
    width: 200px;
    text-align: center;
}